<div class="doctors-posts doctors-page clearfix">
    <div class="container">
        <div class="blog-page-single clearfix">
            <div class="full-width-contents">
                <div class="entry-content text-center">
                    <h2>Appointments</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="blog-page-single clearfix">
            <article class="page clearfix">
                <div class="page-contents">

                </div>
            </article>
        </div>
    </div>
</div>    