<div class="instructors-posts instructors-page clearfix">
    <div class="container">
        <div class="blog-page-single clearfix">
            <div class="full-width-contents">
                <div class="entry-content text-center">
                    <h2>lessons</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <div class="blog-page-single clearfix">
            <article class="page clearfix">
                <div class="page-contents">
                    <!--detail sample page-->

                </div>
            </article>
        </div>
    </div>
</div>   

